/**********************************
/* SCSS BOILERPLATE / FIXES
/* - Normalize
/* - Import mobile styles
/* - Clearfix
/* - Cross-Browser border-box
**********************************/

@import "normalize.css"; // clears all border, padding, etc.
@import "_responsive.scss";

article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */
input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

* {
  box-sizing: border-box;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
} 

/**********************************
/* TYPOGRAPHY
/* - Imports
**********************************/

/* Webfont Imports */
// Avenir Next: 900, 200, Normal Italic, Normal
@font-face {
  font-family: 'Avenir Next';
  src: url('../fonts/AvenirNext-Regular.woff') format('woff2'),
      url('../fonts/AvenirNext-Heavy.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Next';
  src: url('../fonts/AvenirNext-UltraLight.woff2') format('woff2'),
      url('../fonts/AvenirNext-UltraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Next';
  src: url('../fonts/AvenirNext-Bold.woff2') format('woff2'),
      url('../fonts/AvenirNext-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Next';
  src: url('../fonts/AvenirNext-Italic.woff2') format('woff2'),
      url('../fonts/AvenirNext-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Avenir Next';
  src: url('../fonts/AvenirNext-Regular.woff2') format('woff2'),
      url('../fonts/AvenirNext-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

// Open Sans: 700 (Bold), 700 (Bold) Italic, Normal Italic, Normal
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/open_sans_700-webfont.woff2') format('woff2'),
       url('../fonts/open_sans_700-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/open_sans_700italic-webfont.woff2') format('woff2'),
       url('../fonts/open_sans_700italic-webfont.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/open_sans_italic-webfont.woff2') format('woff2'),
       url('../fonts/open_sans_italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/open_sans_regular-webfont.woff2') format('woff2'),
       url('../fonts/open_sans_regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/**********************************
/* SASS VARIABLES
/* - Typography
/* - Colours
/* - Gradients
/* - CSS Shapes
/* - Background Images
**********************************/

/* Typography Variables */
$body-font: 'Open Sans', Arial, Helvetica, sans-serif;
$header-font: 'Avenir Next', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
$navbar-font: 'Avenir Next', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

/* Colour Variables */
$primary-color: #350462; // Dark Purple
$secondary-color: #03DCBB; // Aqua
$minor-color: #FED702; // Gold
$light-accent-color: #FFFFFF; // White
$dark-grey: #333; // Dark Grey
$dark-text-color: #000000; // Black
$light-text-color: #FFFFFF; // White

/* Gradients */


/* Transitions */
$all-ease-in: all ease-in 0.3s;

/* Borders */


/* Background Images */
$rockyTO: url('../images/rockyshoretoronto.jpg');
$seminar: url('../images/techmeeting.jpg');
$mentor: url('../images/mentorship.jpg');
$community: url('../images/torontobuilding.jpg');


/**********************************
/* TYPOGRAPHY STYLES
/* - Setup (body, html)
/* - Headers
/* - Lists (UL, OL)
/* - Links
/* - CTAs
**********************************/

/* Typography Styles Setup */

// Setting catch-all font for body & html
body, html {
  font-family: $body-font;
  font-size: 14px; // All fonts will be scaled based on this font size, by using REM, for best accessibility.
  color: $dark-text-color;
}

// Basic Header Styles (can modify later for special cases within sections)
h1, h2, h3, h4, h5, h6 {
  font-family: $header-font;
  font-weight: bold;
  line-height: 1.5;
  letter-spacing: 0.8px;
}

/* Really, I'm just using these below H1-6 styles to assign a variety of font sizing that I know I'll be using throughout this design */
h1 {
  font-size: 5rem; // rem is a multiple of the base type size (applied to body, html above)
}

h2 {
  font-size: 3.75rem;
  text-transform: uppercase;
}

h3 {
  font-size: 2rem;
  text-transform: uppercase;
}

h4 {
  font-size: 2.5rem;
  font-weight: 200;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1.25rem;
  font-style: italic;
  font-weight: bold;
}

p {
  line-height: 1.5;
  letter-spacing: 1.1px;
}

/* Links within paragraphs */
p a {
  font-weight: bold;
  color: $secondary-color;
}


/**********************************
/* GLOBAL LAYOUT OBJECTS
/* - .container (max-width)
/* - Image backgrounds
/* - Thematic clip paths
**********************************/

.container { // keeps all content aligned
  max-width: 95%;
  margin: 0 auto;
}

.absolute {
  position: absolute;
}

/* Thematic Clip Paths */
.pentagon-right { // keeping this clip-path separate in case I want to resue it for other pieces of content later
  -webkit-clip-path: polygon(20% 0, 100% 0, 100% 73%, 50% 95%, 0 50%);
  clip-path: polygon(20% 0, 100% 0, 100% 73%, 50% 95%, 0 50%);
}

/* Thematic Clip Paths */
.pentagon-left { // keeping this clip-path separate in case I want to resue it for other pieces of content later
  -webkit-clip-path: polygon(0 15%, 35% 0, 65% 50%, 50% 100%, 0 90%);
  clip-path: polygon(0 15%, 35% 0, 65% 50%, 50% 100%, 0 90%);
  background-color: $primary-color;
}

.square {
// keeping this clip-path separate in case I want to resue it for other pieces of content later
  -webkit-clip-path: polygon(10% 10%, 100% 0, 100% 100%, 0 100%);
  clip-path: polygon(5% 5%, 95% 5%, 95% 95%, 5% 95%);
}

/**********************************
/* NAVBAR
**********************************/

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: auto;
  z-index: 999;
  height: 60px;
  background: $primary-color;
  font-family: $navbar-font;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1px;
  padding: 0;

  ul {
    margin: 0; // clearing defautl styling
    padding: 0; // clearing defautl styling
    list-style-type: none; // clearing defautl styling
    display: flex;
    float: right;
    width: 80%;
    height: 100%;

    li {
      flex: 1 0;

      a {
        display: inline-block;
        color: $light-text-color;
        text-decoration: none; // clearing underlines from default styling
        height: 100%;
        width: 100%;
        text-align: center;
        padding-top: 22px;
        padding-bottom: 22px;
        transition: background-color ease-in-out 300ms;
      }

      a:hover {
        background: $secondary-color;
      }
    }
  }

  .logo-wrapper {
    width: 20%;
    height: 100%;
    // background: $minor-color; // used when .logo-word is visible
    float: left;

    #logo {
      display: block;
      width: auto;
      padding-top: 5px;
      margin-right: 30px;
      margin-left: auto;
    }

    img {
      height: 90%;
    }

    .logo-word {
      display: inline-block;
      vertical-align: middle;
      color: $primary-color;
      font-family: $header-font;
      font-weight: bold;      
      letter-spacing: 0.8px;
      line-height: 60px;
      font-size: 42px;
      padding-right: 30px;
      float: right;
    }
  }
}


/**********************************
/* SECTION: HERO (TOP)
**********************************/

.hero-image {
  height: 50vw;
  width: 50vw;
  position: absolute;
  top: 0;
  right: 0;
}

.bkg-rocky-toronto {
  background: $rockyTO; // Using an img variable for the url
  background-size: cover;
  background-position: center center;
}

#hero {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  margin-top: 3rem;
  // display: flex; // Gonna try without flexbox first, to avoid text overflow issues in some browsers
  // align-items: center;
  // justify-content: left;
}

.hero-content {
  position: relative;
  left: 0;
  padding-left: 10%;
  padding-right: 5%;
  max-width: 55vw;

  h1 {
    color: $primary-color;
    font-size: 3.75rem;
    line-height: 1.2;
  }

  h2 {
    color: $dark-grey;
    font-size: 1.5rem;
    text-transform: none;
    font-weight: normal;
  }

  h3 {
    color: $dark-grey;
    text-transform: none;
    font-size: 1.5rem;
    font-weight: bold;
  }

  
  .signup-wrapper {
    margin: 0 auto;
    width: 100%;
    text-align: left;

    #hero-signup {
      display: inline-block;
      background: $secondary-color;
      border: none;
      border-radius: 30px;
      padding: 8px 12px;
      min-width: 180px;
      color: #fff;
      font-weight: 700;
      width: auto;
    }
  }
}

.hero-signup {
  width: 100%;
}

.hero-signup-wrapper {
  width: 25%;
  margin-left: 10%;
}

#hero-signup {
  background-color: $secondary-color;
  border: none;
  color: $light-text-color;
  padding: 12px 20px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
}

/**********************************
/* SECTION: ABOUT
**********************************/

.about {
  padding-top: 10vh;
  padding-bottom: 10vh;
  max-width: 100vw;
  margin: 0 auto;
  height: 100%;
}

.about-content {
  width: 50%;
}

.about-content h1 {
  // padding-top: 9%;
  padding-left: 2.5vw;
  color: $secondary-color;
  font-family: $header-font;
  font-size: 3em;
}

.about-content h2 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.25em;
  padding-left: 2.5vw;
  color: $minor-color;
}

.about-content p {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.15em;
  padding-left: 2.5vw;
  color: #fff;
}

.about-content span {
  text-transform: uppercase;
  font-weight: bold;
}

/**********************************
/* SECTION: EVENTS
**********************************/

.events {
  max-width: 100%;
  background: $primary-color;
  padding-bottom: 25px;
}

.events-wrapper {
  // width: 90%;
  width: 90%;
  margin: 0 auto;
}

.events-leed {
  padding: 1vh 2.5vw;
  color: $minor-color;
}

.date {
  text-align: center;
  margin-left: 2vw;
  margin-top: 3vh;
  z-index: 1;
  height: 18vh;

  .date-box {
    padding: 20px;
    background: rgba(80, 80, 80, 0.5);

    h3, h4 {
    color: $light-text-color;
    margin: 0;
    }
  }
}

article {
  background: $primary-color;
  width: 100%;
}

/* position dots in gallery */
.flickity-page-dots {
  bottom: 0px;
}
/* white circles */
.flickity-page-dots .dot {
  width: 12px;
  height: 12px;
  opacity: 1;
  background: transparent;
  border: 2px solid white;
}

/* fill-in selected dot */
.flickity-page-dots .dot.is-selected {
  background: white;
}

.carousel {
  /*background: #EEE;*/
}

.carousel-cell {
  width: 49%;
  margin-right: 10px;
  counter-increment: gallery-cell;
}

/* cell number */
.carousel-cell:before {
  display: block;
  text-align: center;
}

.event-header {
  width: 100%;
  height: 50vh;
  position: relative;
  display: flex;
  justify-content: left;
  overflow: hidden;
  margin: 0 auto;

  .event-image img{
    width: 100%;
    height: 50vh;
  }

  .event-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
}

.event-content {
  padding: 0 0 4rem;
  
  h5 {
    color: $secondary-color;
  }
}

.event-content p {
  color: #fff;
}

.save-spot {
  background: $minor-color;
  text-align: center;
  width: 90%;
  margin: 0 auto;
  padding: 5px 0px 5px 0px;

  p {
    color: $primary-color;
    font-family: $body-font;
    font-weight: bold;
    font-size: 1.5rem;
  }
}

/**********************************
/* THIS IS FOR THE SKEWED SECTION
**********************************/

.skewedSection, .skewedSection-vision, .skewedSection-logo {
  position: relative;
}

.skewedSection {
  background: url(../images/header-vision.jpg);
  background-position:center;
  background-size:cover;
  background-repeat:no-repeat;
  background-attachment:fixed;
}

.skewedSection-vision {
  background: url(../images/light.jpg);
  background-position: center top;
  background-size:cover;
  background-repeat:no-repeat;
  background-attachment:fixed;
}

.skewedSection-title {
  font-family: $header-font;
  font-size: 30px;
  line-height: 1.2;
  color: #fff;
}

.skewedSection-contentWrapper {
  padding-top: 210px;
  padding-bottom: 245px;
  min-height: 160px;
  vertical-align: middle;
}

.skewed-container {
  max-width: 1060px;
  margin: 0 auto;
  width: 90%;
}

// .skewedSection-title-events {
//   font-size: 4.5rem;
//   text-transform: uppercase;
//   line-height: 1.2;
//   color: $primary-color;
//   -webkit-transform: rotate(5.5deg) translate(10%, 285%);
//   transform: rotate(5.5deg) translate(10%, 285%);
// }

// .skewedSection-contentWrapper-events {
//   padding-top: 50px;
//   padding-bottom: 245px;
//   // min-height: 160px;
//   // vertical-align: middle;
// }

// .skewedSection-title {
//   font-size: 30px;
//   line-height: 1.2;
//   color: #fff;
// }

.skewedSection-SVGTopW {
  position: absolute;
  fill: $light-accent-color;
}

.skewedSection-SVGTopW-vision {
  position: absolute;
  fill: $primary-color;
}

.skewedSection-SVGBottom {
  position: absolute;
  fill: $primary-color;
}

.skewedSection-SVGBottom-vision{
  position: absolute;
  fill: $secondary-color;
}

.skewedSection-SVGBottom, .skewedSection-SVGBottom-vision, .skewedSection-SVGBottom-logo {
  bottom: 0;
}

section {
  display: block;
}

*, :after, :before {
  box-sizing: border-box;
}

svg:not(:root) {
  overflow: hidden;
}

div {
  display: block;
}

/**********************************
/* SECTION: VISION
**********************************/

.vision-intro {
  background: $secondary-color;
  padding-top: 1vh;
  padding-bottom: 5vh;

  h3 {
    color: $primary-color;
    padding-left: 2.5vw;
  }
}

.wrapper-vision {
  max-width: 100%;
  margin: 0 auto;
  height: 70vh;
}

.picture img {
  max-width: 100%;
}

.picture {
  float: left;
  width: 50%;
  height: 70vh;
  padding: 5vw 5vh;
}

.article {
  float: left;
  height: 70vh;
  width: 50%;
  padding: 5vw 5vh;
  text-align: left;

  h3 {
    color: $primary-color;
    font-size: 2.5rem;
  }

  p {
    color: $dark-grey;
    font-size: 1.5rem;
  }
}

.bkg-seminar {
  background: $seminar; // Using an img variable for the url
  background-size: cover;
  background-position: center center;
}

.bkg-mentor {
  background: $mentor; // Using an img variable for the url
  background-size: cover;
  background-position: center center;
}

.bkg-community {
  background: $community; // Using an img variable for the url
  background-size: cover;
  background-position: center center;
}

/**********************************
/* SECTION: FOOTER
**********************************/

.skewedSection-SVGTopW-footer {
  position: absolute;
  fill: #fff;
}

footer {
  background-color: $primary-color;
  padding-bottom: 50px;
}

.footer-content {
  padding-top: 20vh;
  width: 100%;
  height: 70vh;
}

.footer-left {
  float: left;
  width: 50%;
  padding-left: 2.5vw;
}

.info {
  padding-top: 7vh;
  display: flex;
  justify-content: space-around;
  color: #fff;
}

input[type=text] {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  display: inline-block;
  color: $light-text-color;
  font-size: 1.5rem;
  background-color: $primary-color;
  border: 1px solid $primary-color;
  border-bottom: 4px solid $secondary-color;
  box-sizing: border-box;
}

input[type=text]:after {
  background-color: $primary-color;
  border: 1px solid $primary-color;
}

input[type=submit] {
  width: 100%;
  padding: 15px;
  margin: 8px 0;
  display: inline-block;
  box-sizing: border-box;
  background-color: $minor-color;
  color: $primary-color;
  border: none;
  text-transform: uppercase;
  font-weight: bold;
}

input[type=submit]:hover {
  background-color: $secondary-color;
  color: white;
  // opacity: 0.8;
}

.footer-right {
  padding-top: 25vh;
  padding-right: 2.5vw;
  width: 50%;
  float: left;
  text-align: right;
  
  p {
    color: #fff;
  }

  span {
      color: $secondary-color;
    }
}

/****************************************************************
/*  RESPONSIVE CODE
****************************************************************/

/**********************************
/* SECTION: HERO
**********************************/

/*For Tablets*/
@media only screen and (min-width:550px) and (max-width : 1024px) {

  .hero-image {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    opacity: 0.45;
  }

  .bkg-rocky-toronto {
    background: $rockyTO; // Using an img variable for the url
    background-size: cover;
    background-position: left center;
  }

  /* Thematic Clip Paths */
  .pentagon-right { // keeping this clip-path separate in case I want to resue it for other pieces of content later
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
  }

  .hero-content {
    position: relative;
    left: 0;
    padding-left: 10%;
    padding-right: 5%;
    max-width: 55vw;
    margin: 0;

    h1 {
      color: $primary-color;
      font-size: 2.5rem;
      line-height: 1.2;
    }

    h2 {
      color: $dark-grey;
      font-size: 1.5rem;
      text-transform: none;
      font-weight: normal;
    }

    h3 {
      color: $dark-grey;
      text-transform: none;
      font-size: 1.5rem;
      font-weight: bold;
    }

  }

  .hero-signup-wrapper {
    width: 25%;
    margin-left: 10%;
  }

  #hero-signup {
    background-color: $secondary-color;
    border: none;
    color: $light-text-color;
    padding: 10px 20px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
  }

}

/*For Phones*/
@media only screen and (min-width : 300px) and (max-width : 550px) {

    .hero-image {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    opacity: 0.45;
  }

  .bkg-rocky-toronto {
    background: $rockyTO; // Using an img variable for the url
    background-size: cover;
    background-position: left center;
  }

  /* Thematic Clip Paths */
  .pentagon-right { // keeping this clip-path separate in case I want to resue it for other pieces of content later
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
  }

  .hero-content {
    position: relative;
    left: 0;
    padding-left: 10%;
    padding-right: 5%;
    max-width: 55vw;
    margin: 0;

    h1 {
      color: $primary-color;
      font-size: 2rem;
      line-height: 1.2;
    }

    h2 {
      color: $dark-grey;
      font-size: 1.2rem;
      text-transform: none;
      font-weight: normal;
    }

    h3 {
      color: $dark-grey;
      text-transform: none;
      font-size: 1.2rem;
      font-weight: bold;
    }

  }

  .hero-signup-wrapper {
    width: 35%;
    margin-left: 10%;
  }

  #hero-signup {
    background-color: $secondary-color;
    border: none;
    color: $light-text-color;
    padding: 15px 15px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
  }

}

/**********************************
/* SECTION: ABOUT
**********************************/

/*For Tablets*/
@media only screen and (min-width:550px) and (max-width : 1024px) {
  .about {
    padding-top: 5vh;
    padding-bottom: 5vh;
    max-width: 100vw;
    margin: 0 auto;
    height: 100%;
  }

  .about-content {
    width: 90%;
  }

    /* Thematic Clip Paths */
  .pentagon-left { // keeping this clip-path separate in case I want to resue it for other pieces of content later
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
  }

}

/*For Phones*/
@media only screen and (min-width : 300px) and (max-width : 550px) {
  .about {
    padding-top: 2vh;
    padding-bottom: 2vh;
    max-width: 100vw;
    margin: 0 auto;
    height: 100%;
  }

  .about-content {
    width: 90%;
  }

    /* Thematic Clip Paths */
  .pentagon-left { // keeping this clip-path separate in case I want to resue it for other pieces of content later
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
  }

}

/**********************************
/* SECTION: EVENTS
**********************************/

/*For Tablets*/
@media only screen and (min-width:550px) and (max-width : 1024px) {
  
  .skewedSection .skewedSection-SVGTopW {
    fill: $primary-color;
  }

  article {
    width: 100%;
    margin-right: 0;
    padding-bottom: 30px;
  }

  .event-header {
    width: 75%;
  }

}

/*For Phones*/
@media only screen and (min-width : 300px) and (max-width : 550px) {
  
  .skewedSection .skewedSection-SVGTopW {
    fill: $primary-color;
  }

  article {
    width: 100%;
    margin-right: 0;
    padding-bottom: 30px;
  }

  .event-header {
    width: 90%;
  }

}

/**********************************
/* SECTION: VISION
**********************************/

/*For Tablets*/
@media only screen and (min-width:550px) and (max-width : 1024px) {
  
  .vision-intro {
    font-size: 1.5rem;
  }

  .wrapper-vision {
    height: 100%;
  }

  .article {
    float: left;
    width: 100%;
    padding: 0;
    text-align: left;
    position: relative;

    h3 {
       color: $primary-color;
      font-size: 2rem;
    }

    p {
      color: $dark-grey;
      font-size: 1.5rem;
    }
  }

  .picture {
    float: left;
    width: 100%;
    padding: 0;
    position: absolute;
    opacity: 0.4;
  }

    .square {
  // keeping this clip-path separate in case I want to resue it for other pieces of content later
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

}

/*For Phones*/
@media only screen and (min-width : 300px) and (max-width : 550px) {
  
  .vision-intro h3 {
    font-size: 1rem;
  }

  .wrapper-vision {
    max-width: 100%;
    margin: 0 auto;
    height: 50vh;
  }

  .article {
    float: left;
    width: 100%;
    height: 50vh;
    padding: 0;
    text-align: left;
    position: relative;

    h3 {
      color: $primary-color;
      font-size: 1.5rem;
    }

    p {
      color: $dark-grey;
      font-size: 1rem;
    }
  }

  .picture {
    float: left;
    width: 100%;
    height: 50vh;
    padding: 0;
    position: absolute;
    opacity: 0.4;
  }

    .square {
  // keeping this clip-path separate in case I want to resue it for other pieces of content later
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

}

/**********************************
/* SECTION: FOOTER
**********************************/

/*For Tablets*/
@media only screen and (min-width:550px) and (max-width : 1024px) {

  footer {
    padding-top: 15%;
    padding-bottom: 45%;
  }

  .footer-content {
    width: 100%;
    padding-top: 5vh;
    height: 45vh;
  }

  .footer-left {
    width: 100%;
    text-align: center;
    padding: 0;
  }

  .footer-signup {
    width: 100%;
    background-color: $primary-color;
  }

  .footer-signup-wrapper {
    width: 50%;
    margin: 0 auto;
  }

  input[type=text] {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    display: inline-block;
    color: $light-text-color;
    font-size: 1.5rem;
    background-color: $primary-color;
    border: 1px solid $primary-color;
    border-bottom: 4px solid $secondary-color;
    box-sizing: border-box;
  }

  input[type=submit] {
    width: 100%;
    padding: 15px;
    margin: 8px 0;
    display: inline-block;
    box-sizing: border-box;
    background-color: $minor-color;
    color: $primary-color;
    border: none;
    text-transform: uppercase;
    font-weight: bold;
  }

  .footer-right {
    width: 100%;
    padding: 0;  
    text-align: center;
  }

  .skewedSection-SVGTopW-footer {
  position: absolute;
  fill: $primary-color;
}

}

/*For Phones*/
@media only screen and (min-width : 300px) and (max-width : 550px) {

  .footer-content {
    width: 100%;
    padding-top: 5vh;
    // height: 40vh;
  }

  .footer-left {
    width: 100%;
    text-align: center;
    padding: 0;
  }

  .footer-signup {
    width: 100%;
    background-color: $primary-color;
  }

  .footer-signup-wrapper {
    width: 75%;
    margin: 0 auto;
  }

  input[type=text] {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    display: inline-block;
    color: $light-text-color;
    font-size: 1.5rem;
    background-color: $primary-color;
    border: 1px solid $primary-color;
    border-bottom: 4px solid $secondary-color;
    box-sizing: border-box;
  }

  input[type=submit] {
    width: 100%;
    padding: 15px;
    margin: 8px 0;
    display: inline-block;
    box-sizing: border-box;
    background-color: $minor-color;
    color: $primary-color;
    border: none;
    text-transform: uppercase;
    font-weight: bold;
  }

  .footer-right {
    width: 100%;
    padding: 0;    
    text-align: center;
  }

  .skewedSection-SVGTopW-footer {
    position: absolute;
    fill: $primary-color;
  }

}
