/**********************************
/* SCSS BOILERPLATE / FIXES
/* - Normalize
/* - Import mobile styles
/* - Clearfix
/* - Cross-Browser border-box
**********************************/
@import url(normalize.css);
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button],
input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

* {
  box-sizing: border-box; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

/**********************************
/* TYPOGRAPHY
/* - Imports
**********************************/
/* Webfont Imports */
@font-face {
  font-family: 'Avenir Next';
  src: url("../fonts/AvenirNext-Regular.woff") format("woff2"), url("../fonts/AvenirNext-Heavy.woff") format("woff");
  font-weight: 900;
  font-style: normal; }
@font-face {
  font-family: 'Avenir Next';
  src: url("../fonts/AvenirNext-UltraLight.woff2") format("woff2"), url("../fonts/AvenirNext-UltraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal; }
@font-face {
  font-family: 'Avenir Next';
  src: url("../fonts/AvenirNext-Bold.woff2") format("woff2"), url("../fonts/AvenirNext-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'Avenir Next';
  src: url("../fonts/AvenirNext-Italic.woff2") format("woff2"), url("../fonts/AvenirNext-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic; }
@font-face {
  font-family: 'Avenir Next';
  src: url("../fonts/AvenirNext-Regular.woff2") format("woff2"), url("../fonts/AvenirNext-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/open_sans_700-webfont.woff2") format("woff2"), url("../fonts/open_sans_700-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/open_sans_700italic-webfont.woff2") format("woff2"), url("../fonts/open_sans_700italic-webfont.woff") format("woff");
  font-weight: bold;
  font-style: italic; }
@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/open_sans_italic-webfont.woff2") format("woff2"), url("../fonts/open_sans_italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: italic; }
@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/open_sans_regular-webfont.woff2") format("woff2"), url("../fonts/open_sans_regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
/**********************************
/* SASS VARIABLES
/* - Typography
/* - Colours
/* - Gradients
/* - CSS Shapes
/* - Background Images
**********************************/
/* Typography Variables */
/* Colour Variables */
/* Transitions */
/* Background Images */
/* Event Images */
/**********************************
/* TYPOGRAPHY STYLES
/* - Setup (body, html)
/* - Headers
/* - Lists (UL, OL)
/* - Links
/* - CTAs
**********************************/
/* Typography Styles Setup */
body, html {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #000000;
  font-weight: 300; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Avenir Next", "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: 0.8px; }

/* Really, I'm just using these below H1-6 styles to assign a variety of font sizing that I know I'll be using throughout this design */
h1 {
  font-size: 3rem; }

h2 {
  font-size: 2rem;
  text-transform: uppercase; }

h3 {
  font-size: 1.5rem;
  text-transform: uppercase; }

h4 {
  font-size: 1.25rem;
  font-weight: 200; }

h5 {
  font-size: 1rem; }

h6 {
  font-size: 1rem;
  font-style: italic;
  font-weight: bold; }

p {
  line-height: 1.5;
  letter-spacing: 0.8px; }

/* Links within paragraphs */
p a {
  font-weight: bold;
  color: #03DCBB; }

/* CTAs */
.button {
  display: inline-block;
  background: #03DCBB;
  border: none;
  border-radius: 30px;
  min-width: 200px;
  width: auto;
  transition: all ease-in 0.3s; }
  .button a {
    display: block;
    padding: 1rem 4rem;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;
    text-align: center; }

.button:hover {
  background: #350462; }

/**********************************
/* GLOBAL LAYOUT OBJECTS
/* - .container (max-width)
/* - Image backgrounds
/* - Thematic clip paths
/* - Geometry graphic
**********************************/
.container {
  max-width: 1280px;
  margin: 0 auto; }

.absolute {
  position: absolute; }

/* Thematic Clip Paths */
.pentagon-right {
  -webkit-clip-path: polygon(20% 0, 100% 0, 100% 73%, 50% 95%, 0 50%);
  clip-path: polygon(20% 0, 100% 0, 100% 73%, 50% 95%, 0 50%); }

/* Thematic Clip Paths */
.pentagon-left {
  -webkit-clip-path: polygon(0 15%, 35% 0, 65% 50%, 50% 100%, 0 92%);
  clip-path: polygon(0 15%, 35% 0, 65% 50%, 50% 100%, 0 92%);
  background-color: #350462; }

.square {
  -webkit-clip-path: polygon(10% 10%, 100% 0, 100% 100%, 0 100%);
  clip-path: polygon(5% 5%, 95% 5%, 95% 95%, 5% 95%); }

/**********************************
/* NAVBAR
**********************************/
nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: auto;
  z-index: 999;
  background: #350462;
  font-family: "Avenir Next", "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1px;
  padding: 0;
  padding-left: 40px;
  padding-right: 50px; }
  nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    float: right;
    width: 80%;
    height: 100%; }
    nav ul li {
      flex: 1 0; }
      nav ul li a {
        display: inline-block;
        color: #FFFFFF;
        text-decoration: none;
        height: 100%;
        width: 100%;
        text-align: center;
        padding-top: 22px;
        padding-bottom: 22px;
        transition: background-color ease-in-out 300ms; }
      nav ul li a:hover {
        background: #03DCBB; }
  nav .logo-wrapper {
    width: 100px;
    height: auto;
    float: left; }
    nav .logo-wrapper #logo {
      display: block;
      width: auto;
      padding-top: 5px;
      margin-right: 30px;
      margin-left: auto; }
    nav .logo-wrapper img {
      height: 90%; }
    nav .logo-wrapper .logo-word {
      display: inline-block;
      vertical-align: middle;
      color: #350462;
      font-family: "Avenir Next", "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
      font-weight: bold;
      letter-spacing: 0.8px;
      line-height: 60px;
      font-size: 42px;
      padding-right: 30px; }

/**********************************
/* SECTION: HERO (TOP)
**********************************/
.hero-image {
  height: 50vw;
  width: 50vw;
  position: absolute;
  top: 0;
  right: 0; }

.bkg-rocky-toronto {
  background: url("../images/rockyshoretoronto.jpg");
  background-size: cover;
  background-position: center center; }

#hero {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: left; }

.hero-content {
  position: relative;
  left: 0;
  padding-left: 10%;
  padding-right: 5%;
  width: 100%;
  max-width: 55vw;
  margin: 0; }
  .hero-content h1 {
    color: #350462;
    font-size: 3.75rem;
    line-height: 1.2; }
  .hero-content h2 {
    color: #333;
    font-size: 1.5rem;
    text-transform: none;
    font-weight: normal; }
  .hero-content h3 {
    color: #333;
    text-transform: none;
    font-size: 1.5rem;
    font-weight: bold; }
  .hero-content .signup-wrapper {
    margin: 0 auto;
    width: 100%;
    text-align: left; }

/**********************************
/* SECTION: ABOUT
**********************************/
.about {
  padding-top: 10vh;
  padding-bottom: 10vh;
  margin: 0 0 auto;
  height: 100%;
  position: relative; }

.about-shape {
  padding-top: 10vh;
  padding-bottom: 10vh;
  width: 1000px;
  margin: 0 0 auto;
  height: 100%;
  position: relative; }

.about-content {
  width: 55%;
  max-width: 600px;
  padding: 2rem 5%;
  color: #fff; }
  .about-content h1 {
    color: #03DCBB;
    font-size: 3rem; }
  .about-content h2 {
    font-size: 1.5rem;
    color: #FED702; }

.about-content span {
  text-transform: uppercase;
  font-weight: bold; }

.geometry-1 {
  position: absolute;
  z-index: -1;
  bottom: -160px;
  right: 0;
  width: 600px; }
  .geometry-1 img {
    max-width: 100%; }

/**********************************
/* SECTION: EVENTS
**********************************/
.events {
  position: relative;
  max-width: 100%;
  background: #350462;
  padding-bottom: 8rem;
  margin-top: -15rem;
  padding-top: 6rem; }

.events-wrapper {
  width: 90%;
  margin: 0 auto; }

.events-leed {
  padding-bottom: 3rem;
  color: #FED702; }
  .events-leed h2 {
    margin-top: 0;
    text-transform: none;
    font-weight: 200; }

.date {
  text-align: center;
  margin-left: 2vw;
  margin-top: 3vh;
  z-index: 1;
  height: 18vh; }
  .date .date-box {
    padding: 20px;
    background: rgba(80, 80, 80, 0.5); }
    .date .date-box h3, .date .date-box h4 {
      color: #FFFFFF;
      margin: 0; }
    .date .date-box h4 {
      line-height: 1;
      font-size: 3rem; }

article {
  background: #350462;
  width: 100%; }

/* position dots in gallery */
.flickity-page-dots {
  bottom: -60px !important; }

/* white circles */
.flickity-page-dots .dot {
  width: 12px;
  height: 12px;
  opacity: 1;
  background: transparent;
  border: 2px solid white; }

/* fill-in selected dot */
.flickity-page-dots .dot.is-selected {
  background: white; }

.carousel {
  background: transparent;
  /*background: #EEE;*/ }

.carousel-cell {
  width: 50%;
  padding-right: 2%;
  counter-increment: gallery-cell;
  float: left; }

.carousel-cell:nth-of-type(2) {
  padding-right: 0; }

/* cell number */
.carousel-cell:before {
  display: block;
  text-align: center; }

.event-header {
  width: 100%;
  height: 50vh;
  position: relative;
  display: flex;
  justify-content: left;
  overflow: hidden;
  margin: 0 auto; }
  .event-header .event-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50vh; }
  .event-header .feb-25 {
    background: url("../images/event-feb25.jpg");
    background-size: cover;
    background-position: center center; }
  .event-header .coffee {
    background: url("../images/event-coffee.jpg");
    background-size: cover;
    background-position: center center; }

.event-content {
  padding: 0 0 2rem; }
  .event-content h4 {
    color: #03DCBB;
    font-size: 2rem;
    font-weight: 600; }
  .event-content p {
    color: #fff; }

.save-spot-wrap {
  text-align: left; }

a.save-spot {
  text-decoration: none; }

.save-spot {
  background: #FED702;
  text-align: center;
  padding: 2px 15px;
  display: inline-block; }
  .save-spot p {
    color: #350462;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1.25rem;
    line-height: 1; }

.save-spot:hover, .save-spot:focus {
  background: #03DCBB; }

/**********************************
/* THIS IS FOR THE SKEWED SECTION
**********************************/
.skewedSection, .skewedSection-events, .skewedSection-vision, .skewedSection-logo {
  position: relative;
  overflow: visible;
  z-index: 10; }

.skewedSection {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; }

.skewedSection-events {
  background: url(../images/header-events.jpg);
  background-position: center left;
  background-size: 120vw;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-clip-path: polygon(0 0, 100% 30%, 100% 100%, 0% 70%);
  clip-path: polygon(0 0, 100% 30%, 100% 100%, 0% 70%); }

.skewedSection-vision {
  background: url(../images/header-vision.jpg);
  background-position: top left;
  background-size: 150vw;
  background-repeat: no-repeat;
  background-attachment: fixed; }

.skewedSection-title {
  font-family: "Avenir Next", "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  line-height: 1.2;
  color: #350462; }

.skewedSection-contentWrapper {
  padding-top: 12%;
  padding-bottom: 25%;
  height: 4rem;
  vertical-align: middle; }

.skewed-container {
  max-width: 1280px;
  margin: 0 auto;
  width: 90%; }

.skewedSection-SVGTopW {
  position: absolute;
  fill: #FFFFFF; }

.skewedSection-SVGTopW-vision {
  position: absolute;
  fill: #350462; }

.skewedSection-SVGBottom {
  position: absolute;
  fill: #350462; }

.skewedSection-SVGBottom-vision {
  position: absolute;
  fill: #03DCBB; }

.skewedSection-SVGBottom, .skewedSection-SVGBottom-vision, .skewedSection-SVGBottom-logo {
  bottom: 0; }

section {
  display: block; }

*, :after, :before {
  box-sizing: border-box; }

svg:not(:root) {
  overflow: hidden; }

div {
  display: block; }

/**********************************
/* SECTION: VISION
**********************************/
.vision {
  padding: 0 0 14rem;
  position: relative; }

.vision-intro {
  background: #03DCBB;
  padding-left: 4%;
  padding-bottom: 4rem;
  color: #350462;
  margin-bottom: 4rem; }
  .vision-intro h2 {
    margin-top: 0;
    text-transform: none; }

.picture {
  float: left;
  width: 50%;
  height: 60vh;
  padding: 5%; }

.article {
  float: left;
  height: 60vh;
  width: 50%;
  text-align: left;
  padding: 5% 4% 5%; }
  .article h3 {
    font-size: 2.25rem;
    color: #350462;
    margin-bottom: 0;
    text-transform: none; }
  .article p {
    font-size: 1.25rem; }

.bkg-seminar {
  background: url("../images/vision-workshops.png");
  background-size: cover;
  background-position: center center; }

.bkg-mentor {
  background: url("../images/vision-mentorship.png");
  background-size: cover;
  background-position: center center; }

.bkg-community {
  background: url("../images/vision-community.png");
  background-size: cover;
  background-position: center center; }

.geometry-2 {
  position: absolute;
  z-index: 2;
  bottom: -180px;
  right: 0;
  width: 600px; }
  .geometry-2 img {
    max-width: 100%; }

/**********************************
/* SECTION: FOOTER
**********************************/
.skewedSection-SVGTopW-footer {
  position: absolute;
  fill: #fff; }

footer {
  position: relative;
  z-index: 2;
  background-color: #350462;
  color: #FFFFFF;
  -webkit-clip-path: polygon(0 0, 100% 30%, 100% 100%, 0% 100%);
  clip-path: polygon(0 0, 100% 30%, 100% 100%, 0% 100%);
  padding-top: 10rem;
  font-weight: 300; }
  footer h2 {
    color: #03DCBB;
    text-transform: none; }
  footer .button {
    margin-top: 1rem;
    background: #FED702; }
    footer .button a {
      color: #350462;
      font-weight: 900; }
  footer a {
    font-weight: 300; }

.footer-content {
  padding-top: 2rem;
  width: 100%;
  height: 55vh; }

.footer-left {
  float: left;
  width: 50%;
  padding-left: 2.5vw; }

.info {
  padding-top: 7vh;
  display: flex;
  justify-content: space-around;
  color: #fff; }

input.email {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  display: inline-block;
  color: #FFFFFF;
  font-size: 1.25rem;
  background-color: #350462;
  border: 1px solid #350462;
  border-bottom: 4px solid #03DCBB;
  box-sizing: border-box; }

input.email::placeholder {
  color: #03DCBB; }

input.email:after {
  background-color: #350462;
  border: 1px solid #350462; }

input[type=submit] {
  width: 100%;
  padding: 15px;
  margin: 8px 0;
  display: inline-block;
  box-sizing: border-box;
  background-color: #FED702;
  color: #350462;
  border: none;
  text-transform: uppercase;
  font-weight: bold; }

input[type=submit]:hover {
  background-color: #03DCBB;
  color: white; }

.footer-right {
  padding-top: 25vh;
  padding-right: 2.5vw;
  width: 50%;
  float: left;
  text-align: right; }
  .footer-right p {
    color: #fff; }
  .footer-right span {
    color: #03DCBB; }

/**********************************
/* RESPONSIVE ADJUSTMENTS
**********************************/
/* Transitions */
/* Typography Variables */
/* Colour Variables */
/* Background Images */
/**********************************
/* SECTION: HERO (TOP)
**********************************/
/*For Tablets*/
@media only screen and (max-width: 1024px) {
  .hero-image {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    opacity: 0.45; }

  .bkg-rocky-toronto {
    background: url("../images/rockyshoretoronto.jpg");
    background-size: cover;
    background-position: left center; }

  .hero-content {
    max-width: 100%; }
    .hero-content h1 {
      color: #350462;
      font-size: 2rem;
      line-height: 1.2; }
    .hero-content h2 {
      color: #333;
      font-size: 1.5rem;
      text-transform: none;
      font-weight: normal; }
    .hero-content h3 {
      color: #333;
      text-transform: none;
      font-size: 1.25rem;
      font-weight: bold; } }
/* iphone */
@media only screen and (max-width: 550px) {
  .hero-image {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    opacity: 0.35; }

  .hero-content h1 {
    color: #350462;
    font-size: 2rem;
    line-height: 1.2; }
  .hero-content h2 {
    color: #333;
    font-size: 1.25rem;
    text-transform: none;
    font-weight: normal; }
  .hero-content h3 {
    color: #333;
    text-transform: none;
    font-size: 1rem;
    font-weight: bold; } }
/**********************************
/* SECTION: ABOUT
**********************************/
/*For Tablets*/
@media only screen and (min-width: 550px) and (max-width: 1024px) {
  .about-shape {
    position: relative;
    top: -100px;
    padding-top: 0;
    padding-bottom: 4rem;
    clip-path: none;
    background: transparent; }

  .about-content {
    width: 90%;
    color: #000000; }
    .about-content h2 {
      color: #350462; }

  .geometry-1 {
    width: 500px; } }
/* iphone */
@media only screen and (min-width: 300px) and (max-width: 550px) {
  .about {
    padding-top: 2vh;
    padding-bottom: 2vh;
    max-width: 100vw;
    margin: 0 auto;
    height: 100%; }

  .about-content {
    width: 90%; } }
/**********************************
/* SECTION: EVENTS
**********************************/
/*For Tablets*/
@media only screen and (min-width: 550px) and (max-width: 1024px) {
  .skewedSection .skewedSection-SVGTopW {
    fill: #350462; }

  .events-leed {
    padding-top: 4rem; }

  article {
    width: 100%;
    margin-right: 0;
    padding-bottom: 30px; } }
/* iphone */
@media only screen and (min-width: 300px) and (max-width: 550px) {
  .skewedSection .skewedSection-SVGTopW {
    fill: #350462; }

  article {
    width: 100%;
    margin-right: 0;
    padding-bottom: 30px; } }
/**********************************
/* SECTION: VISION
**********************************/
/*For Tablets*/
@media only screen and (min-width: 550px) and (max-width: 1024px) {
  .vision-intro {
    font-size: 1.5rem;
    margin-bottom: 0; }

  .wrapper-vision {
    height: 100%; }

  .article {
    float: left;
    width: 100%;
    padding: 5%;
    text-align: left;
    position: relative; }
    .article h3 {
      color: #350462;
      font-size: 2rem; }
    .article p {
      color: #333;
      font-size: 1.5rem; }

  .picture {
    float: left;
    width: 100%;
    padding: 0;
    position: absolute;
    opacity: 0.35; }

  .square {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); } }
/* iphone */
@media only screen and (min-width: 300px) and (max-width: 550px) {
  .vision-intro h3 {
    font-size: 1rem; }

  .wrapper-vision {
    max-width: 100%;
    margin: 0 auto;
    height: 50vh; }

  .article {
    float: left;
    width: 100%;
    height: 50vh;
    padding: 0;
    text-align: left;
    position: relative; }
    .article h3 {
      color: #350462;
      font-size: 1.5rem; }
    .article p {
      color: #333;
      font-size: 1rem; }

  .picture {
    float: left;
    width: 100%;
    height: 50vh;
    padding: 0;
    position: absolute;
    opacity: 0.4; }

  .square {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); } }
